.friends-page {
    height: 100vh;
    width: 100vw;
    background: #191a1b;
    box-sizing: border-box;
    display: flex;

    
    .friends-index-container {
        z-index: 8;
        padding-top: 72px;
        box-sizing: border-box;
        width: 360px;
        display: flex;
        flex-direction: column;
        background: #242526;
        color: #e4e6eb;
        box-shadow: 0 12px 28px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(0, 0, 0, .1),inset 0 0 0 1px rgba(255,255,255,0.05);

        .scrollable {
            overflow: auto;
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        

        .title, .subtitle {
            box-sizing: border-box;
            width: 360px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 24px;
            font-weight: 900;
            padding: 0 16px 12px;
        }

        .subtitle {
            font-size: 17px;
        }

        .friends-index-items {
            padding-bottom: 16px;
            .no-friends {
                padding: 0px 32px 8px;
                font-size: 13px;
                color: #b0b3b8;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            
            .friend-item {
                width: 360px;
                box-sizing: border-box;
                padding: 0 8px;
                
                .friend-item-link {
                    text-decoration: none;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 83px;
                    width: 100%;
                    color: #e4e6eb;
                    border-radius: 8px;
                    padding: 0 8px;
                    &:hover {
                        background: #3a3b3b;
                    }
                    img {
                        height: 60px;
                        width: 60px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .name-add {
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        width: 100%;
                        height: 100%;
                        padding: 0 12px;

                        .add-friend {
                            margin-top: 10px;
                            box-sizing: border-box;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 124px;
                            height: 36px;
                            font-size: 15px;
                            font-weight: 900px;
                            border-radius: 6px;
                            background: #2d88ff;
                            color: #fff;
                            cursor: pointer;
                            &:hover {
                                filter: brightness(1.1);
                            }
                        }
                    }

                    .name-responses {
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        width: 100%;
                        height: 100%;
                        padding-left: 12px;

                        .responses {
                            box-sizing: border-box;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;

                            div {
                                margin-top: 10px;
                                box-sizing: border-box;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 124px;
                                height: 36px;
                                font-size: 15px;
                                font-weight: 900px;
                                border-radius: 6px;
                                color: #fff;
                                background: rgba(255, 255, 255, .1);
                                cursor: pointer;
                                &:hover {
                                    filter: brightness(1.1);
                                }
                            }
                            .confirm {
                                background: #2d88ff;
                            }
                        }
                    }
                }
            }
        }
        
    }

    .profile-preview {
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }

        .profile-page-container {
            position: relative;
        }
        .placeholder-preview {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #b0b3b8;
            font-size: 20px;
            i {
                font-size: 112px;
                margin-bottom: 20px;
            }
        }
    }
}