.newsfeed {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #e3e6ea;
  background-color: #18191a;
  .main-container {
    padding-top: 72px;
    box-sizing: border-box;
    width: 744px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    .create-post-container {
      box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        background: #252526;
        width: 680px;
        height: 80px;
        margin-bottom: 16px;
        padding: 12px 16px 10px;
        border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;

        .propic-and-button {
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 40px;

          .propic {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            img {
              height: inherit;
              width: inherit;
              border-radius: inherit;
              object-fit: cover;
            }
          }

          .post-button {
            background: #3a3b3b;
            display: flex;
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            padding: 8px 12px;
            font-size: 17px;
            align-items: center;
            border-radius: 20px;
            color: #838588;
            margin-left: 10px;
            &:hover {
              cursor: pointer;
              filter: brightness(1.1);
            }
          }
        }

        .addphoto {
          margin-top: 12px;
          width: 100%;
          // height: 49px;
          height: 5px;
          border-top: 1px solid #3a3b3b;
        }
    }

    .newsfeed-posts-index-container {
        box-sizing: border-box;
        height: fit-content;
        width: 680px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .no-posts {
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 900;
            padding: 16px;
        }

        .posts-item {
            box-sizing: border-box;
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
            background: #252526;
            margin-bottom: 20px;
            color: #e4e6eb;
            
            .item-edit-dropdown {
            
                position: absolute;
                top: 10px;
                right: 10px;
                height: 26px;
                width: 26px;
                border-radius: 50%;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: 1px;
                &:hover {
                    cursor: pointer;
                    background: #3a3b3b;
                }
                &:active {
                    transform: scale(.98);
                }

                .edit-options {
                    z-index: 10;
                    position: absolute;
                    top: 36px;
                    right: 0;
                    width: 344px;
                    height: fit-content;
                    background: #252526;
                    box-shadow: 0 12px 28px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(0, 0, 0, .1),inset 0 0 0 1px rgba(255,255,255,0.05);
                    padding: 8px 0;
                    border-radius: 8px;
                    
                    div {
                        box-sizing: border-box;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 328px;
                        height: 36px;
                        margin: 0 8px;
                        padding: 8px;
                        border-radius: 4px;
                        &:hover {
                            cursor: pointer;
                            background: #3a3b3b;
                        }
                        i {
                            margin-right: 12px;
                        }
                    }
                }
            }

            .pp-time-bar {
                box-sizing: border-box;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 48px;
                width: 100%;
                margin: 0 0 15px;
                padding: 15px 16px 0;

                .pp {
                  height: 40px;
                  width: 40px;
                  border-radius: 50%;
                  object-fit: cover;
                }

                .time-name {
                  box-sizing: border-box;
                  display: flex;
                  flex-direction: column;
                  padding-left: 10px;

                  .name {
                    width: fit-content;
                    font-size: 15px;
                    font-weight: bold;
                    text-decoration: none;
                    color: #e4e6eb;
                    margin: 5px 0;
                    &:hover {
                      text-decoration: underline;
                    }
                  }

                  .time {
                    font-size: 13px; 
                    color: #b0b3b8;
                  }
                }

            
            }

            .content {
                box-sizing: border-box;
                width: 100%;
                height: auto;
                font-size: 24px;
                padding: 0 16px;
                line-height: 28px;
            }

            .post-item-image {
              padding-top: 12px;
              width: 100%;
              height: auto;
            }

            .divider {
              box-sizing: border-box;
              width: 100%;
              border-bottom: 1px solid #3e4042;
            }

            .count-buttons {
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              width: 100%;
              padding: 10px 16px 0px;
              margin-top: 12px;

              .like-comment-counts {
                box-sizing: border-box;
                width: 100%;
                height: 35px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 15px;
                color: #b0b3b8;
                padding-bottom: 10px;
                img {
                  height: 18px;
                  width: 18px;
                  padding: 5px;
                }

                .count-likes {
                  height: 100%;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                }

                .count-comments {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }

              .like-comment-buttons {
                box-sizing: border-box;
                width: 100%;
                height: 44px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 6px 2px;
                color: #b0b3b8;

                .like-button, .comment-drawer-button {
                  box-sizing: border-box;
                  display: flex;
                  height: 100%;
                  justify-content: center;
                  align-items: center;
                  flex-grow: 1;
                  cursor: pointer;
                  border-radius: 4px;
                  
                  &:hover {
                    background: #3a3b3c;
                  }
                  i {
                    margin-right: 12px;
                    font-size: 18px;
                  }
                  
                }

                .liked {
                  color: #2078f4;
                }
              }
              
            }

          .comments {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0 16px;

            .pp {
              height: 32px;
              width: 32px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 6px;
            }
            
            .comments-index-container {
              box-sizing: border-box;
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;

              .comment-item, .subcomment-item {
                box-sizing: border-box;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding-top: 4px;

                .subcomment-index-container {
                  box-sizing: border-box;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  padding-left: 38px;

                  .pp {
                    height: 24px;
                    width: 24px;
                    margin-top: 3px;
                  }

                  .showMore {
                    margin-top: 5px;
                    color: #b0b3b8;
                    cursor: pointer;
                    &:hover {
                      text-decoration: underline;
                    }

                    i {
                      transform: rotate(180deg);
                      margin-right: 5px;
                    }
                  }
                }

                .make-comment {
                  padding-left: 38px;
                  .pp {
                    height: 24px;
                    width: 24px;
                  }
                }
              }

              .parent, .subcomment {
                box-sizing: border-box;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                &:hover {
                  .edit-comment-dropdown {
                    display: flex;
                  }
                }

                &:first-of-type {
                  padding-top: 8px;
                }

                input {
                  box-sizing: border-box;
                  display: flex;
                  flex-grow: 1;
                  height: 36px;
                  border-radius: 18px;
                  padding: 8px 12px;
                  background: #3a3b3c;
                  color: #e4e6eb;
                  outline: none;
                  user-select: text;
                  white-space: pre-wrap;
                  overflow-wrap: break-word;
                }

                .namecomment-likereply {
                  box-sizing: border-box;
                  width: fit-content;
                  height: fit-content;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;

                  .name-comment {
                    position: relative;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 8px 12px;
                    background: #3a3b3c;
                    border-radius: 18px;
                    .name {
                      width: fit-content;
                      text-decoration: none;
                      font-size: 13px;
                      font-weight: bold;
                      cursor: pointer;
                      color: #e4e6eb;
                      margin-top: 4px;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
        
                    .comment-content {
                      font-size: 15px;
                      padding: 4px 0;
                    }

                    .like-count {
                      position: absolute;
                      bottom: 0;
                      right: -25px;
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      padding: 3px;
                      border-radius: 10px;
                      background: #3e4042;
                      img {
                        height: 18px;
                        width: 18px;
                        margin-right: 4px;
                      }
                    }
                  }

                  .like-reply {
                    box-sizing: border-box;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 12px;
                    padding: 3px 0;
                    font-size: 12px;
                    font-weight: bold;

                    .separater {
                      padding: 0px 3px;
                    }

                    .liked {
                      color: #2078f4;
                    }

                    .like-button, .replies-drawer {
                      cursor: pointer;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }

                .hidden {
                  display: none;
                }
                .edit-comment-dropdown {
                  position: relative;
                  cursor: pointer;
                  display: none;
                  justify-content: center;
                  align-items: center;
                  align-self: center;
                  margin-bottom: 18px;
                  margin-left: 20px;
                  border-radius: 50%;
                  padding: 5px;
                  height: 24px;
                  width: 24px;
                  &:hover {
                    background: #3a3b3b;
                  }

                  .edit-options {
                    z-index: 10;
                    position: absolute;
                    top: 36px;
                    right: -172px;
                    width: 344px;
                    height: fit-content;
                    background: #252526;
                    box-shadow: 0 12px 28px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(0, 0, 0, .1),inset 0 0 0 1px rgba(255,255,255,0.05);
                    padding: 8px 0;
                    border-radius: 8px;
                    
                    div {
                      box-sizing: border-box;
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      width: 328px;
                      height: 36px;
                      margin: 0 8px;
                      padding: 8px;
                      border-radius: 4px;
                      &:hover {
                        cursor: pointer;
                        background: #3a3b3b;
                      }
                    }
                  }

                }

              }
            }

            .make-comment {
              box-sizing: border-box;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 10px 0;
              

              input {
                box-sizing: border-box;
                display: flex;
                flex-grow: 1;
                height: 36px;
                border-radius: 18px;
                padding: 8px 12px;
                background: #3a3b3c;
                color: #e4e6eb;
                outline: none;
                user-select: text;
                white-space: pre-wrap;
                overflow-wrap: break-word;
              }
            }
          }
        }
    }
  }

  .navigation {
    padding-top: 72px;
    box-sizing: border-box;
    width: 360px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .social-link {
      box-sizing: border-box;
      height: 52px;
      width: 100%;
      padding: 0 8px;
      cursor: pointer;
      border-radius: 8px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #e4e6eb;
      text-decoration: none;
      &:hover {
        background: #3a3b3b;
      }
      img, i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 37px;
        width: 37px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 12px;
        font-size: 35px;
      }
    }
    .border {
      box-sizing: border-box;
      width: 100%;
      border-bottom: 1px solid #3e4042;
      margin-top: 16px;
    }

    .semi-footer {
      color: #b0b3b8;
      font-size: 13px;
      box-sizing: border-box;
      padding: 16px;
      line-height: 1.2308;
    }
  }

  .contacts-container {
    padding-top: 72px;
    box-sizing: border-box;
    width: 360px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    .contacts-header {
      padding: 20px 0px 12px;
      font-size: 17px;
      font-weight: 900;
      color: #b0b3b8;
    }

    .contact-item {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 100%;
      a {
        box-sizing: border-box;
        height: 52px;
        width: 100%;
        padding: 0 8px;
        cursor: pointer;
        border-radius: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #e4e6eb;
        font-size: 16px;
        text-decoration: none;
        &:hover {
          background: #3a3b3b;
        }
      }
      img {
        height: 36px;
        width: 36px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 12px;
      }
    }
  }
}