// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, .8);
  z-index: 10;
  vertical-align: middle;
  text-align: center;
  width: 100%
}

.modal-child {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  margin: 20px;
  text-align: left;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 8px;
}


.login-container {
  display: flex;
  height: 720px;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  font-family: 'Roboto', sans-serif;
}

form {
  height: inherit;
  width: inherit;
  input:first-of-type {
    margin-top: 10px;
  }
  input {
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 6px;
    
    border: 1px solid #dddfe2;
    font-size: 17px;
    padding-left: 14px;
    // margin-bottom: 12px;
    width: 346px;
    height: 52px;
  }
  button {
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 6px;
    font-size: 20px;
    width: 364px;
    height: 52px;
    // padding: 0px 16px;
    color: #fff;
  }
  button:first-of-type {
    background: #1877F2;
  }
  .border {
    width: 364px;
    align-items: center;
    border-bottom: 1px solid rgb(218, 221, 225);
    // margin: 20px 16px;
    text-align: center;
  }

  .create-new-account {
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 6px;
    color: #fff;
    background: #42b72a;
    font-size: 17px;
    width: 200px;
    height: 48px;
    margin-bottom: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      font-family: 'Helvetica Neue', sans-serif;
      border-radius: 6px;
      color: #fff;
      background: #42b72a;
      font-size: 17px;
      width: 200px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 48px;
      padding: 0;
      text-align: center;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }
  .demo {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 14px;
    color: #1877f2;
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
button:hover {
  filter: brightness(.9);
  cursor: pointer;
}

button:active {
  transform: scale(.98);
}

.create-new-account:hover {
  filter: brightness(.9);
  cursor: pointer;
}

.create-new-account:active {
  transform: scale(.98);
}

.demo a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.form-container {
  display: flex;
  height: 345px;
  width: 400px;
  background-color: #fff;
  justify-content: center;
  // border: 3px solid black;
  align-items: center;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  margin-bottom: 112px;
}

.form-contents {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.slogan {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 266px;
  justify-content: center;
  font-size: 28px;
  padding-right: 32px;
  margin-bottom: 172px;
  div {
    color: #1877F2;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 16px;
    font-family: "Helvetica Neue", sans-serif;
  }
}

.form-errors {
  list-style: none;
  align-content: center;
  text-align: left;
  color: red;
  font-size: 13px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.signup-header-message {
  background: #fff;
  margin-top: 0;
  border-radius: 8px 8px 0 0;
  padding: 10px 16px;
  box-sizing: border-box;
  position: relative;
  padding-top: 5px;
  :first-child {
    font-size: 33px;
    font-weight: 900;
    line-height: 38px;
    color: #1c1e21;
  }

  :nth-child(2){
    color: #606770;
    font-size: 16px;
    line-height: 24px;
  }
}

.signup-form-container {
  width: 432px;
  #closemodal {
    color: #606770;
    width: 36px;
    position: absolute;
    right: -5px;
    top: 15px;
    z-index: 999;
    font-size: 20px;
    height: 36px;
    
  }
  #closemodal:hover {
    cursor: pointer;
  }
  #closemodal:active {
    transform: scale(.98);
  }
}

.signup-form-contents {
  background: #fff;
  border-radius: 0 0 8px, 8px;
  border-top: 1px solid #dadde1;
  padding: 16px;
  position: relative;
  p {
    height: 28px;
    width: 399px;
    font-size: 12px;
    line-height: 14px;
    margin: 11px 0;
    color: #777;
  }
  

  .name-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      box-sizing: border-box;
      height: 40px;
      width: 194px;
      padding: 11px;
      font-size: 15px;
      line-height: 16px;
      background: #f5f6f7;
      border-radius: 5px;
      border: 1px solid #ccd0d5;
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }

  .email-password-input {
    input{
      margin-bottom: 10px;
      margin-top: 0px;
      padding: 11px;
      font-size: 15px;
      line-height: 16px;
      background: #f5f6f7;
      border-radius: 5px;
      border: 1px solid #ccd0d5;
      height: 16px;
      width: 375px;
      
    }
  }

  .birthday-title, .gender-title{
    color: #606770;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 2px;
  }

  .month-day-year{
    width: 399px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    select {
      height: 36px;
      width: 125px;
      border-radius: 4px;
      color: #1c1e21;
      font-size: 15px;
      height: 36px;
      line-height: 20px;
      padding: 0 8px;
      padding-right: 20px;
      border: 1px solid #ccd0d5;
    }
  }

  .gender-container{
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    label {
      box-sizing: border-box;
      height: 36px;
      width: 125px;
      border-radius: 4px;
      color: #1c1e21;
      font-size: 15px;
      height: 36px;
      line-height: 20px;
      padding: 0 8px;
      padding-right: 0px;
      border: 1px solid #ccd0d5;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0px;
      input { 
        height: 13px;
        width: 36px;
        margin-top: 0;
        color: red;
        background: purple;
        align-content: flex-end;
      }
    }
  }


  .sign-up-button-div {
    display: flex;
    justify-content: center;
    button {
      height: 36px;
      width: 194px;
      background: #00a400;
      color: #fff;
      font-size: 18px;
      padding: 0 32px;
    }
  }

}

.login-footer-container {
  height: 156px;
  padding: 20px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-footer-content {
    color: #737373;
    font-size: 13px;
    width: 980px;
    margin: 0 auto;
    padding-top: 10px;
    line-height: 15px;
  }
}

// -------------------------------------------------------------------------
.nav-bar {
  border-bottom: 1px solid #393a3b;
  ::placeholder {
    color: #b0b3b8;
    opacity: 1;
  }
  .fas, .fab {
    font-size: x-large;
  }

  a {
    text-decoration: none;
  }
  color: #e4e6eb;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: #1c1e21;
  background: #232626;
  padding: 0 10px;
  z-index: 999;
  i, a {
    color: #b0b3b8;
  }
  .logo-and-search {
    width: 320px;
    display: flex;
    justify-content: space-around;
    .logo-icon{
      height: 40px;
      width: 40px;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .search-field {
      box-sizing: border-box;
      background: #3a3b3b;
      width: 270px;
      border-radius: 50px;
      padding: 7px 16px 9px;
      margin-left: 10px;
      color: #e4e6eb;
    }
    :focus {
        outline: none;
    }
  }

  .newsfeed-friends-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 336px;
    .newsfeed-link, .friends-link, .github-link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      height: 53px;
      border-radius: 7px;
    }
    a:hover {
      filter: brightness(1.2);
      background: #3a3b3c;
    }
    a:active {
      border-bottom: 3px solid #2c88ff;
    }
  }

  .settings-link {
    i {
      cursor: pointer;
    }
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 304px;
    height: 56px;
    .nav-right {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-right: 10px;
      img {
        
      height: 28px;
      width: 28px;
      border-radius: 50%;
      object-fit: cover;
      }
      .display-name {
      height: 19px;
      padding-top: 5px;
      }
      .name-pic{
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        height: 40px;
        width: 110px;
        border-radius: 50px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background: #404041;
        &:hover {
          filter: brightness(1.2);
        }
      }
      
      .fa-plus-circle {
        font-size: 36px;
        border-radius: 50%;
        background: transparent;
        width: 36px;
        height: 36px;
      }
    }


    .settings-dropdown{
      .fa-caret-square-down{
        font-size: 38px;
        margin-right: 5px;
        padding-bottom: 2px;
      }
      .dropdown-contents {
        .see-your-profile:hover, .logout-button:hover {
          background: #3a3b3c;
          cursor: pointer;
        }
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        // height: 430px;
        height: 135px;
        width: 360px;
        background: #252526;
        top: 54px;
        right: 14px;
        border-radius: 8px;
        box-shadow: 0 12px 28px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.1), inset 0 0 0 1px rgba(255,255,255,0.05);

        .see-your-profile {
          display: flex;
          background: #252526;
          width: 344px;
          height: 76px;
          justify-content: center;
          align-items: center;
          border-radius: 7px;
          margin-top: 5px;
          margin-bottom: 5px;
          .see-your-profile-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 256px;
            height: 57px;
            padding: 0 8px;
            .display-name {
              font-size: 17px;
              margin-bottom: 5px;
            }
            .see-your-profile-text {
              color: #dadde1;
              font-size: 15px;
            }
          }
          img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            margin-right: 12px;
            margin-left: 7px;
            object-fit: cover;
          }
        }

        .divider {
          border: 1px solid #3d4042;
          width: 328px;
        }

        .logout-button {
          box-sizing: border-box;
          background: #252526;
          width: 344px;
          height: 52px;
          padding: 0 8px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-radius: 7px;
          margin-top: 5px;
          margin-bottom: 5px;

          i {
            margin: 8px 12px 8px 0px;
          }
        }
      }
    }
  }
}

// Profile Page___________________________________________________________________________

.profile-page-container{
  position: absolute;
  
  top: 56px;
  left: 0;
  right: 0;
  color: #e3e6ea;
  display: flex;
  flex-direction: column;
  align-items: center;

  .cover-photo-container {
    &:hover {
      cursor: pointer;
    }
    object-fit: cover;
    width: 940px;
    height: 349px;
    background: #18191a;
    border-radius: 0px 0px max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 0px 0px 8px 8px;
    img {
      background: #18191a;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      object-fit: cover;
    }
  }

  .profile-pic-container {
    &:hover {
      filter: brightness(1.1);
    }
    cursor: pointer;
    width: 168px;
    height: 168px;
    border-radius: 50%;
    position: absolute;
    top: 194px;
    z-index: 2;
    display: inline;
    justify-content: center;
    align-items: center;
    align-content: center;
    img {
      width: inherit;
      height: inherit;
      border-radius: inherit;
      vertical-align: center;
      object-fit: cover;
    }
  }

  

}

.profile-page-top {
  background: #232626;
  top: inherit;
  height: 528px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pp-name-bio {
    position: absolute;
    top: 379px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 99px;
    // width: 100%;
    z-index: 3;

    h1 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    .bio {
      font-size: 17px;
      color: #b0b3b8;
      font-family: system-ui;
    }
  }

  .divider {
    position: absolute;
    top: 465px;
    width: 876px;
    border-top: 1px solid #3e4042;
  }

  .menu-bar {
    box-sizing: border-box;
    position: absolute;
    top: 468px;
    height: 60px;
    width: 908px;
    display: flex;
    // background: red;
    z-index: 3;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tabs {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 60px;
      width: 584px;
      font-size: 15px;
      font-weight: 900;
      color: #2E89FF;

      .posts {
        box-sizing: border-box;
        height: 60px;
        width: 72px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding-top: 22px;
        cursor: pointer;
      }
    }

    .edit-profile {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 124px;
      height: 36px;
      font-size: 15px;
      font-weight: 900px;
      border-radius: 6px;
      background: #3a3b3b;
      background-image: image-url('pencil-icon.png');
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: 12px center;
      padding-left: 14px;
      a {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: inherit;
        cursor: pointer;
        
      }
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}

.active {
  border: 2px solid #2E89FF;
  width: 72px;
}

.profile-page-bot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #18191a;
  height: 1000px;
  width: 100%;
  bottom: 0;

  .pp-content-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 908px;
    height: auto;
    margin: 16px 0px 0px;
    padding: 0 16px;

    .about-container {
      box-sizing: border-box;
      width: 360px;
      // height: 384px;
      height: 190px;
      background: #252526;
      margin: 8px;
      border-radius: 8px;

      .intro {
        padding: 0 16px;
        padding-top: 20px;
        font-size: 20px;
        font-weight: 700;
      }

      .about-contents {
        padding: 15px;
        
        div {
          padding-top: 4px;
          padding-bottom: 20px;
          padding-left: 30px;
          span {
            font-weight: 900;
          }
        }

        .workplace {
          // background: red;
          background-image: image-url('workplace_icon.png');
          background-repeat: no-repeat;
          background-size: 20px;
          background-position: 0px top;
        }

        .school {
          background-image: image-url('school_icon.png');
          background-repeat: no-repeat;
          background-size: 20px;
          background-position: 0px top;
        }

        .currentcity {
          background-image: image-url('lives_icon.png');
          background-repeat: no-repeat;
          background-size: 20px;
          background-position: 0px top;
        }

      }
    }

    .user-posts-container {
      width: 500px;
      margin: 8px;

      .create-post-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        background: #252526;
        width: inherit;
        height: 80px;
        margin-bottom: 16px;
        padding: 12px 16px 10px;
        border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;

        .propic-and-button {
          display: flex;
          justify-content: space-between;
          width: 468px;
          height: 40px;

          .propic {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            img {
              height: inherit;
              width: inherit;
              border-radius: inherit;
              object-fit: cover;
            }
          }

          .post-button {
            background: #3a3b3b;
            display: flex;
            box-sizing: border-box;
            width: 420px;
            height: 40px;
            padding: 8px 12px;
            font-size: 17px;
            align-items: center;
            border-radius: 20px;
            color: #838588;
            &:hover {
              cursor: pointer;
              filter: brightness(1.1);
            }
          }
        }

        .addphoto {
          margin-top: 12px;
          width: 468px;
          // height: 49px;
          height: 5px;
          border-top: 1px solid #3a3b3b;
        }
      }

      .posts-index-title {
        box-sizing: border-box;
        background: #252526;
        width: 500px;
        display: flex;
        height: 55px;
        justify-content: space-between;
        align-items: center;
        padding: 0 6px;
        border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
        margin-bottom: 15px;
        .title-post {
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          width: 65px;
          height: 26px;
          font-size: 20px;
          font-weight: bolder;
          padding: 6px;
        }
      }

      .posts-index-container {
        width: 500px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      }
    }
  }
}


// Edit Modal --------------------------------------------------------------------
.editP-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(11, 11, 11, .8);
  z-index: 10;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.editP-child {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  margin: 40px;
  text-align: left;
  background: #252526;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 8px;
  z-index: 12;
  max-width: 700px;
  // height: 100%;
  // overflow: auto;
}

.edit-form-container {
  box-sizing: border-box;
  background: inherit;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e4e6eb;
  .closemodal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 36px;
    width: 36px;
    font-size: 22px;
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    color: #a8abaf;
    &:hover {
      filter: brightness(1.1);
      cursor: pointer;
    }
  }

  .edit-heading {
    box-sizing: border-box;
    width: 700px;
    height: 60px;
    padding: 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #303031;
    span {
      font-size: 20px;
      font-weight: 900;
    }
  }

  .edit-pp-block {
    box-sizing: border-box;
    width: 700px;
    height: auto;
    .title {
      display: flex;
      justify-content: space-between;
      padding: 20px 16px 4px;
      span {
        font-size: 20px;
        font-weight: 900;
      }
      input {
        width: 100px;
        background: transparent;
        color: #2b72cd;
      }
    }

    .change-container {
      // box-sizing: border-box;
      width: 700px;
      height: 200px;
      padding: 16px 12px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      .pp {
        height: 168px;
        width: 168px;
        border-radius: 50%;
        object-fit: cover;
      }
      .cover {
        width: 500px;
        height: 185px;
        border-radius: 6px;
        object-fit: cover;
      }

      
    }

    .bio-edit {
      height: 140px;
      textarea {
        box-sizing: border-box;
        width: 221px;
        height: 72px;
        border-radius: 6px;
        padding: 8px 12px;
        background: #3a3b3b;
        color: #8a8d91;
      }
    }

    .customize-intro {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 156px;
      // margin-bottom: 50px;
      .inputs {
        box-sizing: border-box;
        display: flex;
        width: 660px;
        justify-content: space-between;
        height: 48px;
        label {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          input {
            box-sizing: border-box;
            padding: 4px 12px;
            border-radius: 6px;
            background: #3a3b3b;
            color: #8a8d91;
          }
        }
      }

      .save-button {
        box-sizing: border-box;
        height: 36px;
        width: 114px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background: #2c88ff;
        font-size: 15px;

        &:hover {
          cursor: pointer;
          filter: brightness(1.1);
        }
        &:active {
          transform: scale(.98);
        }
      }
    }
  }
}

.create-post-form {
  box-sizing: border-box;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .closemodal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 36px;
    width: 36px;
    font-size: 22px;
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    color: #a8abaf;
    &:hover {
      filter: brightness(1.1);
      cursor: pointer;
    }
  }

  .cp-top {
    box-sizing: border-box;
    width: 500px;
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;

    .cp-heading {
      width: 468px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      color: #e4e6eb;
    }

    .pp-name {
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 72px;
      width: 468px;
      padding: 16px 0;
      border-top: 1px solid #323233;

      .pp {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .name {
        color: #e4e6eb;
        padding-left: 15px;
        font-size: 15px;
      }
    }
  }

  .content {
    box-sizing: border-box;
    width: 500px;
    height: 80px;
    padding: 0 16px 40px;

    input {
      &:focus {
        outline: none;
      }
      width: 468px;
      height: 28px;
      background: inherit;
      font-size: 24px;
      color: #e4e6eb;
    }
  }

  .post-button {
    box-sizing: border-box;
    height: 36px;
    width: 468px;
    padding: 16px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 12px;
    background: #2c88ff;
    &:hover {
      cursor: pointer;
      filter: brightness(1.1);
    }
    &:active {
      transform: scale(.98);
    }
  }
}


.posts-index-container {
  box-sizing: border-box;
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  

  .posts-item {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
    background: #252526;
    padding-bottom: 20px;
    margin-bottom: 20px;
    

    .pp-time-bar {
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 48px;
      width: 500px;
      margin: 0 0 12px;
      padding: 12px 16px 0;

      .pp {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .time-name {
        padding-left: 10px;

        .name {
          font-size: 15px;
          font-weight: bold;
        }

        .time {
          font-size: 13px;
        }
      }
    }

    .content {
      width: 468px;
      height: auto;
      font-size: 24px;
    }
  }
}